.highlight {
  background-color: yellow;
}

.warning {
  color: red;
}

.idname {
  font-weight: bold;
}

.div {
  width: 120px;
  height: 120px;
  background-color: lightblue;
}

.span {
  width: 120px;
  height: 120px;
}

input {
  width: 200px;
  height: 200px;
}

.first {
  background-color: lightgreen;
  width: 150px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 30px;
  padding-bottom: 80px;
  padding-left: 30px;
  padding-right: 100px;
  border: 1px solid black;
}

.second {
  background-color: lightcoral;
  width: 150px;
  height: 150px;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 80px;
  padding-bottom: 100px;
  padding-left: 80px;
  padding-right: 80px;
}
